*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}
$orange: #ffb800;

%btn {
    background: $orange;
    border-radius: 4px;
    color: #fff;
    border: none;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    cursor: pointer;
}
%title {
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
}
a {
    text-decoration: none;
}

body {
    margin: 0 auto;
    background: #f5fafe;
    font-family: "Mulish";
    color: #333333;
    header {
        background: #fff;
    }
    .wrapper {
        margin: 0 auto;
        padding: 0 5%;
    }
}

// header first line style
.first-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 67px;
    padding: 30px 0;
    .title {
        font-family: "Luckiest Guy", cursive;
        font-size: 24px;
        text-transform: uppercase;
        a {
            color: #333333;
        }
    }
    .search-button {
        display: flex;
        flex-wrap: nowrap;
        height: 50px;
        width: 50%;
        input {
            background-color: #f8f8f8;
            border: none;
            width: 100%;
            min-width: 200px;
            padding-left: 30px;
            color: #333333;
        }
        button {
            min-width: 80px;
            background: $orange;
            border: none;
            cursor: pointer;
        }
    }
}

// menu after header style
.menu {
    background-color: #065a46;
    height: 80px;
    .menu-link {
        display: flex;
        justify-content: space-between;
        padding-top: 25px;
        a {
            color: #fff;
            &:hover {
                color: $orange;
            }
        }
        .active {
            color: $orange;
        }
        li {
            font-weight: bold;
            font-size: 15px;
            line-height: 25px;
            text-transform: uppercase;
            list-style: none;
        }
    }
}
.burger-wrapp {
    display: none;
    justify-content: flex-end;
    padding-top: 25px;
}
.header-burger {
    width: 30px;
    height: 22px;
    position: relative;
    display: none;
    align-self: center;
    .burger-line {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        left: 0;
    }
    .burger-line_first {
        top: 0;
    }
    .burger-line_second {
        top: 50%;
        transform: translateY(-50%);
    }
    .burger-line_third {
        bottom: 0;
    }
}

//  burger slide
.burger-wrapper-slide {
    position: relative;
}
.burger-slide-wrapp {
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background: #065a46;
    transform: translateX(100%);
    transition: 0.2s;
    .burger-nav {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: baseline;
        padding: 50px 30px 0 0;
        img {
            margin-bottom: 30px;
        }
    }
    .burger-menu-link {
        display: flex;
        flex-direction: column;
        list-style: none;
        a {
            color: #fff;
            font-size: 30px;
            text-transform: uppercase;
            &:hover {
                color: $orange;
            }
        }
        li {
            margin-bottom: 10px;
        }
    }
}

// like info
.content {
    position: relative;
}
.like-wrapper {
    position: fixed;
    width: 40%;
    height: 350px;
    top: 0;
    right: 0;
    background-color: #fff;
    padding: 5px;
    transform: translateX(100%);
    transition: 0.2s;
    overflow-y: auto;

    .close-btn,
    .delete {
        background: none;
        border: none;
        width: 15px;
        height: 15px;
    }
    .fav-img {
        img {
            width: 50px;
            height: 50px;
            margin: 5px;
        }
    }
    .fav-name {
        font-size: 20px;
    }
}
.like-info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 5px;
}
.fav-wrapper-small {
    display: flex;
    flex-direction: column;
}
.active {
    transform: translateX(0);
    z-index: 99;
}

// content style
.meal {
    .recipe-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        .recipe-title {
            @extend %title;
            margin: 30px 0;
            text-align: center;
        }
        .recipe-btn {
            display: flex;
            width: 100%;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 40px;
            .get-recipe {
                @extend %btn;
                width: 270px;
                height: 60px;
                margin-right: 50px;
            }
            .star {
                width: 50px;
                height: 50px;
                background: none;
                border: none;
                cursor: pointer;
            }
        }
    }
}
.recipe-info {
    display: flex;
    margin-top: 30px;
    .recipe-img {
        margin: 0 110px 30px 0;
        img {
            width: 400px;
            height: 400px;
            border-radius: 5px;
        }
    }
}
.recipe-structure {
    width: 50%;
    h2 {
        font-weight: 800;
        font-size: 40px;
        margin-bottom: 20px;
    }
    p {
        font-size: 20px;
    }
}
.recipe-desc {
    margin-top: 45px;
    .desc-title {
        @extend %title;
        margin-bottom: 30px;
    }
    .desc {
        font-size: 20px;
        line-height: 35px;
        margin-bottom: 47px;
    }
}
@media screen and (max-width: 880px) {
    .recipe-info {
        flex-wrap: wrap;
        justify-content: center;
    }
    .recipe-info .recipe-img {
        margin: 0 0 30px 0;
    }
    .recipe-structure {
        padding-top: 0;
    }
}
@media screen and (max-width: 768px) {
    .first-line {
        flex-direction: column;
        align-items: start;
        h1 {
            margin-bottom: 10px;
        }
    }
    .menu-links {
        display: none;
    }
    .header-burger {
        display: flex;
    }
    .recipe-structure h2 {
        font-size: 30px;
    }
    .recipe-desc .desc-title {
        font-size: 25px;
        margin-bottom: 5px;
    }
    .burger-wrapp {
        display: flex;
    }
    .like-wrapper {
        width: 80%;
    }
}
@media screen and (max-width: 425px) {
    .meal .recipe-header .recipe-btn .get-recipe {
        margin-right: 0;
    }
    .recipe-info .recipe-img img {
        width: 250px;
        height: 250px;
        border-radius: 5px;
    }
}
